.app {
  font-family: "Roboto Mono", serif;
  text-align: center;
  background-color: #c6dbd7;
  height: 100%;
  padding: 5px;
  color: #050404;
}

.todolist {
  margin: auto;
  max-width: 800px;
}

.todo {
  margin-top: 15px;
}

.title {
  color: #050404;
}

/***** Form Field ********/
.form-field {
  align-items: center;
  max-width: 500px;
  margin-left: 200px;
  margin-right: 200px;
}

/* ----Pagination-----*/
.pagination {
  margin-left: 290px;
  margin-right: 200px;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #000000;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #000000;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

/****** Search Todo *******/
.search-container {
  margin-top: 10px;
}
