.app {
  font-family: "Roboto Mono", serif;
  text-align: center;
  background-color: #c6dbd7;
  height: 100%;
  padding: 50px;
  color: #050404;
}

.todolist {
  margin: auto;
  max-width: 425px;
}

.title {
  color: #050404;
}

.form {
  align-items: center;
}

.input {
  background-color: transparent;
  border: 2px solid #050404;
  color: #050404;
  padding: 10px;
  border-radius: 6px;
  font-size: 22px;
  font-family: inherit;
}

.submit {
  background-color: transparent;
  border: 2px solid #050404;
  color: #050404;
  padding: 10px;
  border-radius: 6px;
  font-size: 22px;
  margin-left: 8px;
  font-family: inherit;
  cursor: pointer;
}

.submit:hover {
  background-color: #050404;
  border: 2px solid #050404;
  color: #6f7574;
  padding: 10px;
}

.todo {
  text-align: left;
  margin-top: 8px;
  background-color: transparent;
  border: 2px solid #050404;
  color: #050404;
  padding: 10px;
  border-radius: 6px;
  font-size: 22px;
  font-family: inherit;
}

.todo-delete {
  float: right;
  padding: 0px 4px;
  cursor: pointer;
}

.todo-delete:hover {
  background-color: #0504041c;
  border-radius: 6px;
}
